* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 40vh;
    margin: 5vh auto 10vh auto;
    background-color: #8C9EB2;
    padding: 4vh 0;
    font-family: sans-serif;
    border-radius: 10px;

    h2 {
        margin: 0 0 5% 0;
        text-align: center;
    }

    #requiredInformation {
        width: 70%;
        height: 40px;
        visibility: visible;
        margin: 10% 0 0 8%;
        color: red;
        text-decoration: underline;
    }

    #inputs {
        margin-left: 8%;

        form {
            display: flex;
            flex-direction: column;

            label {
                font-size: .9rem;

                span {
                    color: red;
                }
            }

            input {
                width: 50%;
                padding: 1% 0;
                border: transparent;
                border-radius: 5px;
                margin: 0 0 9% 0;
                padding-left: 2%;
            }

            div {
                margin-top: 2%;
                font-size: .9rem;

                input {
                    width: 5%;
                }
            }
        }

        #chooseActivity {
            width: 90%;
            margin-bottom: 5%;
        }

        button {
            width: 20%;
            margin-left: 70%;
            padding: 2% 0;
            background-color: #8C5F25;
            border: transparent;
            border-radius: 5px;
            color: white;
        }
    }

    #result {
        height: 10%;
        padding-top: 5vh;
        margin-left: 8%;
        display: flex;

        p {
            font-size: .8rem;
            margin-bottom: 5%;
        }

        div {
            width: 30%;

            &:nth-of-type(1) {
                margin-right: 20%;
                margin-top: 7%;
                color: rgb(142, 3, 3);

                p {
                    margin-bottom: 12%;
                }
            }

            .name {
                margin: 0 0 20% 10%;
            }

            #grundumsatzKcal,
            #gesamtumsatzKcal,
            #grundumsatzKJ,
            #gesamtumsatzKJ {
                width: 75%;
                height: 23%;
                padding-left: 5%;
                padding-top: 2.5%;
                visibility: visible;
                background-color: #96a9be;
                border-radius: 4px;
            }

        }
    }

    article {
        padding-top: 12%;
        text-align: center;
        font-size: .7rem;

        p {
            width: 90%;
            margin: 0 auto;
        }
    }
}